[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "logo facebook png"
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwi724SEpMTbAhXE1hQKHfvKA0cQjRx6BAgBEAU&url=http%3A%2F%2Fwww.logo20.com%2Flogo-facebook%2Flogo-facebook-hd.html&psig=AOvVaw3_hN5tl9VpYL70QnzbVX7_&ust=1528554656322274
Icon=text-html
